# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

#### **Objetivos**

- List some of the popular languages that Data Scientists use
- List some of the libraries used by Data Scientists
- Mean some of the Tools used by Data Scientists
- Evaluate arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:

1. Python  
2. R  
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. Pandas  
2. NumPy  
3. Scikit-learn

#### **Data Science Tools**

| Data Science Tools          |
|-----------------------------|
| Jupyter Notebook           |
| RStudio                    |
| VS Code                    |
| Google Colab               |
| Spyder                     |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This a simple arithmetic expression to mutiply then add integers

result= (3*4)+5

print(result)

17

In [4]:
# This will convert 200 minutes to hours by diving by 60

minute=200

hora=minute/60

print(hora)

3.3333333333333335

## Author

Larry Castro